mypal not observing RFC 8996.

This is what I have to say simply :  

I found mypal 78 to still have old TLS enabled by default (tested with SSLLabs CLient test). 
This is a (potentially dangerous) situation resp. a problem for everyone using it.

To not have mypal users still exposed to outdated (insecure, buggy, vulnerable. compromisable versions of)  TLS 1.0 and TLS 1.1 on servers,
the beloved coder community PLEASE would consider to immediately disable old TLS by default as this is long outdated, obsolete.
I mean it is deprecated by the IETF and by the IANA as well.
So please folks : Please ONLY enable TLS 1.3 and TLS 1.2 by default and nothing else. Make it observing the RFC 8446 AND the
RFC 8996 client-side.  The older legacy TLS 1.2 standards track is obsoleted and replaced by the RFC 8446 which is also for TLS 1.2 !
If someone wants to enable it please require them (the users who are in the need) to do this intentionally, manually. 
NOT by default. We want to give them a neat but secure browser, don't we ?

secondly : TLS_RSA_WITH_3DES_EDE_CBC_SHA (0xa)  (weak) cipher is still enabled by default.
This is a deprecated cipherset as well :  see RFC 8429. No longer to be used. neither on public webservers nor in clients.

Thank you.

What is the to-be-observed encryption security-related "standard in TLS" of TODAY  :  It is how OpenSSL 3.6.0 behaves when we operate TLS through it, using e.g. apache server (or other type of web server using a derivate of the aforementioned TLS stack).  
And so should behave all Clients, regarding their TLS feature-set so far clientside TLS and protocols/protocol modes of operation is concerned.

Kind regards

Bernd Pfeiffer
from Germany


This is used in terms of connecting a site.  Suppose this stuff should not still used on sites, well not a problem. 
To disable it likely simple switch some setting then I shall do.


> This is used in terms of connecting a site. Suppose this stuff should not still used on sites, well not a problem. To disable it likely simple switch some setting then I shall do.

I am not a developer btw. For the sourcecode someone would have to change the respective settings please in the TLS section. I only want to mention the observed issue.   I also know that some might want to have backward compatibity for some (yes then those requiring old TLS and old suites are absolutely technically outdated and probably insecurely configured, with old TLS stacks still running in their servers!) websites.  But, securely surfing the internet TODAY even on an outdated OS like Windows XP means we actually have to disable old protocols for good and by default at least. So the semantics even in a browser being adapted should be: enable old protocols and ciphers only at will by the respective user if he/she needs to in the local settings. BUT PLEASE NOT by default. This is simply not the safest approach. The mentioned RFC 8996 should apply even in a browser being furtherdeveloped and meant for use with a legacy OS.

Okey this is already done in the next version.

I appreciate it. Because we want to offer proper & robust crypto safety to those who want to browse today's web with XP. Another recommended -nice-to-have-feature- may also be the introduction of post-quantum handshake crypto as well (the ML-KEM mechanisms) for TLS 1.3.